{% extends "PlanningBundle::layout.twig" %}

{% block content %}
    <form action="{% path 'organization_create' %}" method="post">
        {{ form|render }}

        <input type="submit" />
    </form>
{% endblock %}